/* Universal selector-everything displayed on the page will render with these attributes */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body element-the contents of the page between the header and footer will render with this specific backgroud color */
body {
    background-color: #d9dcd6;
}

/* Class selector-any portion of the page utilizing this class selector will render with the specified padding, font-family, background-color, and color */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Class selector-text will display inline-block with font-size 48px */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Class selector-text will display with the color #d9dcd6 */
.header h1 .seo {
    color: #d9dcd6;
}

/* Class selector-characteristics used for layout, organization, & design of navigation bar  */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Class selector */
.header nav ul {
    list-style-type: none;
}

/* Class selector-text will display inline-block with font-size 25px (nav bar) */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* This element will give color to the navigation bar text-color (element selector) */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Element Selector-all text within the paragraph elements will have font-size of 16px */
p {
    font-size: 16px;
}

/* Class selector-will render the main image on the page below the nav bar with this set of attributes (size, position, margin, height, width, & the chosen image (URL) */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Class selector-this attribute allows the .jpg to be positioned on the left side of the text-box */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Class selector-this attribute allows the .jpg to be positioned on the right side of the text-box */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Class selector- allows the "section" of the web page to be 75% wide, display inline-block, & have a margin on the left side of 20px */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Class selector-characteristics used for layout, organization, & design of "aside" bar */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Class selectors-gives a bottom margin to the text within the "aside" bar, and this text-color */
.benefit-lead, 
.benefit-brand, 
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Class selectors-gives a bottom margin to the large "title" text within the "aside" bar, and align the text (center) */
.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Class selectors-displays the images block (stacked), give margin to images of 10px and horizontally center the element within its container (auto) */
.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Class selectors-creates a margin on the bottom of container (20px), padding around container (50px), height to container (300px), a font-family with backup font, a background color (#0072bb), & a text color (#ffffff) */
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Class selectors-gives a height attribute to the .jpgs within the "section" of the webpage */
.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
    max-height: 200px;
}

/* Class selectors-gives a bottom margin to the "title text" within the "section" of the webpage, & a font-size of 36px */
.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Class selector-gives padding around container of footer (30px), a font-family (with back-up font), aligns text to the center of the footer container, & makes it so the element is moved down to clear past both left and right floats */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Class selector-gives the footer a font-size of 20px */
.footer h4 {
    font-size: 20px;
}
